* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
}

.box1, .box2 {
    width: 80%;
    margin: 50px auto 0;
    background-color: white;
}

.box1 {
    height: 250px;
}

.box2 {
    height: 600px;
    padding: 25px;
}

p {
    margin: 0;
    padding: 25px;
}

.p2 {
    margin: 0;
    padding: 25px 0;
}

.grey-box {
    height: 400px;
    background-color: #4A4A4A;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #333333;
    margin-top: 50px;
}

ul {
    width: 80%;
    margin: auto;
}

ul li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 32px 25px;
    color: white;
}

