* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: arial;
    font-size: 14px;
    line-height: 2;
}

.box1, .box2 {
    width: 80%;
    margin: 50px auto 0;
    background-color: white;
}

.box1 {
    height: 300px;
}

.box2 {
    
    height: 650px;
    padding: 25px;
}

p {
    margin: 0;
    padding: 25px;
}

.button-container {
    margin-left: 20px;
}

.button1, .button2 {
    font-size: 18px;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 5px;
}

.button1 {
    background-color: #D0021B;
}

.button2 {
    background-color: #4A90E2;
}

.p2 {
    margin: 0;
    padding: 25px 0;
}

.grey-box {
    height: 400px;
    background-color: #4A4A4A;
}

.img-text {
    text-align: center;
    color: white;
    padding: 175px;
    font-size: 24px;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #333333;
    margin-top: 50px;
}

ul {
    width: 80%;
    margin: auto;
}

ul li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 32px 25px;
    color: white;
}

